@import "globals.scss";

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/debut_light.png") repeat scroll 0 0 transparent;
    color: $gray;
    font-family: 'Scada', sans-serif;
}

.wrap {
    @include box-shadow(0 0 1px 1px $light-gray);
    border-radius: 3px;
    background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/cream_dust.png") repeat scroll 0 0 transparent;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 36px;
    width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
    a {
        color: $orange;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            color: $orange;
            text-decoration: underline;
        }
    }
}

p, li {
    font-size: 16px;
    line-height: 28px;
}

a {
    color: $light-blue;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: $light-blue;
        text-decoration: underline;
    }
}

ul, ol {
    li {
    font-size: 16px;
        p {
            text-align: left;
        }
    }
}

.main {
    margin-top: 13px;
    img {
        @include img-box-shadow();
    }
    p {
        img {
            margin-bottom: 5px;
            max-height: 320px;
            max-width: 50%;
        }
        &:nth-child(odd) img {
            margin-left: 15px;
            float: right;
        }
        &:nth-child(even) img {
            margin-right: 15px;
            float: left;
        }
    }
    pre {
        /*
         * This makes the code blocks not run under floated elements, though only.
         * In chrome. Is there a cross browser solution?
         */
        clear: both;
        display: block;
        display: -webkit-box;
    }
    h1 {
        font-size: 2.0em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.0em;
    }
    h5 {
        font-size: 1.0em;
    }
    h6 {
        font-size: 0.8em;
    }
    .page_pic {
        img {
            display: block;
            margin: 5px 0 20px;
            max-width: 100%;
        }
        &.right {
            float: right;
            padding-left: 40px;
            text-align: right;
        }
        &.left {
            float: left;
            padding-right: 40px;
            text-align: left;
        }
        &.top {
            text-align: right;
            img {
                margin-bottom: 5px;
            }
        }
    }
    .page {
        img {
            margin: 20px 0 20px 0;
        }
    }
}

hr.padded {
    padding-top: 20px;
    margin-bottom: 15px;
    clear: both;
}

.base-image img {
    margin-bottom: 5px;
    max-height: 480px;
}

.list {
    margin-left: 10px;
    h3, h4 {
        line-height: 18px;
    }
    a {
        color: $orange;
        &:hover {
            color: $orange;
            text-decoration: underline;
        }
    }
}

.header {
    h2 {
        color: $dark-blue;
    }
    a {
        text-decoration: none;
        color: $dark-blue;
        &:hover {
            text-decoration: none;
            color: $dark-blue;
        }
    }
}

.site-header, .logo {
    margin-top: 13px;
}
.logo {
    position: relative;
    right: 4em;
}

.navigation {
    float: right;
    margin-top: 35px;
    text-align: center;
    a {
        padding: 15px;
        margin-left: 5px;
        color: $gray;
        font-weight: bold;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:hover {
            color: $orange;
            text-decoration: underline;
        }
        &.current_nav {
            color: $orange;
            text-decoration: underline;
        }
    }
}

.heading {
    margin-top: 10px;
    h1, h2, h3, h4, h5, h6 {
        margin: 0px;
    }
}
.heading-group h2 {
    color: $orange;
    margin-top: 26px;
    line-height: 28px;
}

ul.subpage-list {
    list-style: none;
    margin-top: 2em;
    li {
        margin-bottom: 20px;
        line-height: inherit;
    }
}

.subpage-title {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    color: $orange;
}

.subpage-subtitle {
    display: block;
    font-size: 1.0em;
    display: block;
}

.people {
    h1 {
        font-size: 1.4em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
    }
    h2:not(:first-child) {
        font-size: .9em;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        margin-bottom: 1em;
        color: $gray;
    }
    h2:first-child {
        margin-bottom: 1em;
    }
    img {
        float: left;
        margin-right: 20px;
        width: 125px;
        height: 125px;
    }
}
.people {
    margin-top: 2em

}

.featured-blog {
    margin: 2em 0 3em;
    .featured-header {
        margin-bottom: 13px;
    }
    img {
        float: left;
        margin: 0 35px 20px 0;
        max-width: 960px;
        max-height: 320px;
    }
}

.sliding-index {
    margin-top: 26px;
    max-height: 1100px;
    min-height: 1100px;
    &>div {
        margin-bottom: 3em;
    }
}

div.recent-blogs.columns {
    margin-left: 0;
    .recent-blogs-header {
        display: inline;
    }
    .sliding-btn {
        display: inline;
        margin-left: 13px;
        a {
            color: $gray;
        }
    }
}

div.events.columns {
    float: right;
    ul {
        list-style: none;
        margin: 26px 0 0;
        padding-left: 0;
        li {
            margin-bottom: 2em;
        }
    }
    .no-events {
        font-style: italic;
    }
}

.footer {
    height: 100px;
    margin: 0 auto;
    margin-top: -100px;
    text-align:center;
    width: 960px;
    span {
        position: relative;
        top: 20px;
    }
    a {
        color: $light-blue;
    }
    p {
        font-size: 14px;
        line-height: 26px;
    }
}

.c:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.c {
    display: inline-block;
}
html[xmlns] .c {
    display: block;
}
* html .c {
    height: 1%;
}
