h3.big-index-title {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.15em; }
  h3.big-index-title a {
    color: #F70; }
    h3.big-index-title a:hover {
      color: #F70;
      text-decoration: underline; }

.big-index-heading {
  margin-top: 1.0em; }

.big-index img {
  float: left;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  max-height: 210px;
  max-width: 210px; }
.big-index pre, .big-index code {
  display: none; }

.big-index-item hr {
  margin-top: 2em; }

.big-index-post {
  margin-top: 13px;
  text-align: justify; }
  .big-index-post h1, .big-index-post h2, .big-index-post h3 {
    display: none; }
  .big-index-post img {
    display: none; }

.paging {
  margin-bottom: 1.4em; }

.metadata {
  color: #AAA;
  font-weight: bold; }
