h3.big-index-title {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.15em;
    a {
        color: #F70;
        &:hover {
            color: #F70;
            text-decoration: underline;
        }
    }
}

.big-index-heading {
    margin-top: 1.0em;
}

.big-index {
    img {
        float: left;
        margin-bottom: 1.5em;
        margin-right: 1.5em;
        margin-top: 1.5em;
        max-height: 210px;
        max-width: 210px;
    }
    pre, code {
        display: none;
    }
}

.big-index-item hr {
    margin-top: 2em;
}

.big-index-post {
    margin-top: 13px;
    text-align: justify;
    h1, h2, h3 {
        display: none;
    }
    img {
        display: none;
    }
}

.paging {
    margin-bottom: 1.4em;
}

.metadata {
    color: #AAA;
    font-weight: bold;
}
