#footer {
    text-align:center;
    padding-top: 12px;
    background-color: #FFEECC;
    height: 100px;
    margin-top: -100px;
}
#footer a {
    text-decoration: none;
    color: teal;
}
#footer a:hover {
    color: #006B53;
}

#header h2 {
    color: #2d486d;
}

#home p {
    text-align: center;
}

#logo {
    float: left;
    margin-top: 5px;
}

#navigation {
    margin-top: 35px;
    text-align: center;
}
#navigation a {
    padding:15px;
    border-radius:6px;
    color: black;
    font-weight: bold;
}
#navigation a:hover {
    background-color: #F70;
}

/* These are for in page headers, which should be slightly smaller */
#main h1 { font-size: 26px; }
#main h2 { font-size: 20px; }
#main h3 { font-size: 16px; }
#main h4 { font-size: 12px; }
#main h5 {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}
#main h6 {
    font-size: 12px;
    font-weight: normal;
}
.page_pic {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
.page_pic.right { float: right; margin-left: 10px; }
.page_pic.left { float: left; margin-right: 10px; }
.page_pic.top { margin-bottom: 10px; }
.page_pic img {
    display: block;
}

p {
    margin: 0 0 10px;
}

ul.subpage-list {
    list-style: none;
}
ul.subpage-list li {
    margin-bottom: 20px;;
    line-height: inherit;
}

.subpage-title {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
    color: #C50;
}

.subpage-subtitle {
    display: block;
    font-size: 1.0em;
    display: block;
}
