.main a {
    text-decoration: none;
    color: teal;
}
.main a:hover {
    color: #006B53;
}

.main {
    overflow: hidden;
}

.footer {
    text-align:center;
    padding-top: 12px;
    background-color: #FFEECC;
    height: 100px;
    margin-top: -100px;
}
.footer a {
    text-decoration: none;
    color: teal;
}
.footer a:hover {
    color: #006B53;
}

.list {
    padding-left: 10px;
}
.list h3, .list h4 {
    line-height: 18px;
}
.list a {
    color: #F70;
}
.list a:hover {
    color: #F70;
    text-decoration: underline;
}

.header h2 {
    color: #2d486d;
}

.logo {
    float: left;
    margin-top: 5px;
}

.navigation {
    margin-top: 35px;
    text-align: center;
}
.navigation a {
    padding:15px;
    border-radius:6px;
    color: black;
    font-weight: bold;
}
.navigation a:hover {
    text-decoration: none;
    background-color: #FFC48F;
}
.navigation a.current_nav {
    border: 2px solid #FFC48F;
}

/* These are for in page headers, which should be slightly smaller */
.main h1 { font-size: 26px; }
.main h2 { font-size: 20px; }
.main h3 { font-size: 16px; }
.main h4 { font-size: 12px; }
.main h5 {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}
.main h6 {
    font-size: 12px;
    font-weight: normal;
}

.page_pic {
    margin-bottom: 20px;
}
.page_pic.right {
    float: right;
    margin-left: 20px;
    text-align: right;
}
.page_pic.left {
    float: left;
    margin-right: 20px;
    text-align: left;
}
.page_pic.top {
    text-align: right;
}
.page_pic img {
    display: block;
}

p {
    margin: 0 0 10px;
    text-align: justify;
}

ul.subpage-list {
    list-style: none;
}
ul.subpage-list li {
    margin-bottom: 20px;;
    line-height: inherit;
}

.subpage-title {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
    color: #C50;
}

.subpage-subtitle {
    display: block;
    font-size: 1.0em;
    display: block;
}

.infoblock h1 {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
.infoblock h2 {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    margin-bottom: 5px;
    color: grey;
}
.infoblock img {
    float: left;
    margin-right: 10px;
    width: 125px;
    height: 125px;
}
