.main a {
    text-decoration: none;
    color: teal;
}
.main a:hover {
    color: #006B53;
}
.main {
    overflow: hidden;
}

.blog h3, .blog h4 {
    line-height: 18px;
}

.footer {
    text-align:center;
    padding-top: 12px;
    background-color: #FFEECC;
    height: 100px;
    margin-top: -100px;
}
.footer a {
    text-decoration: none;
    color: teal;
}
.footer a:hover {
    color: #006B53;
}

.list {
    padding-left: 10px;
}
.list h3, .list h4 {
    line-height: 18px;
}
.list a {
    color: #F70;
}
.list a:hover {
    color: #F70;
    text-decoration: underline;
}

.header h2 {
    color: #2d486d;
}
.header a {
    text-decoration: none;
    color: #2d486d;
}
.title {
    margin-top: 7px;
}
.logo {
    margin-top: 15px;
}

.navigation {
    float: right;
    margin-top: 35px;
    text-align: center;
}
.navigation a {
    padding:15px;
    color: black;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.navigation a:hover {
    text-decoration: none;
    background-color: #FFC48F;
}
.navigation a.current_nav {
    border: 2px solid #FFC48F;
}

.headinggroup {
    margin-top: 7px;
    margin-bottom: 18px;
}

.headinggroup h1, .headinggroup h2, .headinggroup h3,
.headinggroup h4, .headinggroup h5, .headinggroup h6 {
    margin: 0px;
}
.metadata {
    color: #AAA;
    font-weight: bold;
}

/* These are for in page headers, which should be slightly smaller */
.main h1 { font-size: 2.0em; }
.main h2 { font-size: 1.6em; }
.main h3 { font-size: 1.3em; }
.main h4 { font-size: 1.0em; }
.main h5 {
    font-size: 1.0em;
    font-weight: normal;
    color: #AAA;
}
.main h6 {
    font-size: 0.8em;
    font-weight: normal;
    color: #AAA;
}

.page_pic {
    margin-bottom: 20px;
}
.page_pic.right {
    float: right;
    margin-left: 20px;
    text-align: right;
}
.page_pic.left {
    float: left;
    margin-right: 20px;
    text-align: left;
}
.page_pic.top {
    text-align: right;
}
.page_pic.top img {
    padding-bottom: 5px;
}
.page_pic img {
    display: block;
}

p {
    margin: 0 0 10px;
    text-align: justify;
}

ul.subpage-list {
    list-style: none;
}
ul.subpage-list li {
    margin-bottom: 20px;;
    line-height: inherit;
}
.subpage-title {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
    color: #F70;
}
.subpage-subtitle {
    display: block;
    font-size: 1.0em;
    display: block;
}

.infoblock h1 {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
.infoblock h2 {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    margin-bottom: 5px;
    color: grey;
}
.infoblock img {
    float: left;
    margin-right: 10px;
    width: 125px;
    height: 125px;
}

.blog-post span {
    float:right;
    width:200px;
}
.blog-image img {
    float: left;
    padding-right: 20px;
    width: auto;
    height: 400px;
}
.blog-image img {
    width: 340px;
    height: auto;
}
.blog-title {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
}
.blog-title a {
    color: #F70;
}
.blog-title a:hover {
    color: #F70;
    text-decoration: underline;
}
