a {
    color: #F70;
    text-decoration: none;
}
a:hover {
    color: #F70;
    text-decoration: underline;
}
p a {
    color: teal;
    text-decoration: none;
}
p a:hover {
    color: #006B53;
    text-decoration: underline;
}

.main {
    overflow: hidden;
}
.main p img {
    max-height:320px;
    max-width: 50%;
}
.main p:nth-child(odd) img {
    margin-left: 15px;
    float: right;
}
.main p:nth-child(even) img {
    margin-right: 15px;
    float: left;
}

/*
 * This makes the code blocks not run under floated elements, though only.
 * In chrome. Is there a cross browser solution?
 */
.main pre {
    display: block;
    display: -webkit-box;
}
.main h1 { font-size: 2.0em; }
.main h2 { font-size: 1.6em; }
.main h3 { font-size: 1.3em; }
.main h4 { font-size: 1.0em; }
.main h5 {
    font-size: 1.0em;
    font-weight: normal;
    color: #AAA;
}
.main h6 {
    font-size: 0.8em;
    font-weight: normal;
    color: #AAA;
}
hr {
    clear: both;
}

.base-image img {
    margin-bottom: 3px;
    max-height: 500px;
}

.list {
    padding-left: 10px;
}
.list h3, .list h4 {
    line-height: 18px;
}
.list a {
    color: #F70;
}
.list a:hover {
    color: #F70;
    text-decoration: underline;
}

.header h2 {
    color: #2d486d;
}
.header a {
    text-decoration: none;
    color: #2d486d;
}
.header a:hover {
    text-decoration: none;
    color: #2d486d;
}
.title {
    margin-top: 7px;
}
.logo {
    margin-top: 15px;
}

.navigation {
    float: right;
    margin-top: 35px;
    text-align: center;
}
.navigation a {
    padding:15px;
    color: black;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.navigation a:hover {
    text-decoration: none;
    color:black;
    background-color: #FFC48F;
}
.navigation a.current_nav {
    border: 2px solid #FFC48F;
}

.heading {
    margin-top: 7px;
    margin-bottom: 18px;
}
.heading h1, .heading h2, .heading h3,
.heading h4, .heading h5, .heading h6 {
    margin: 0px;
}

.page_pic {
    margin-bottom: 20px;
}
.page_pic.right {
    float: right;
    margin-left: 20px;
    text-align: right;
}
.page_pic.left {
    float: left;
    margin-right: 20px;
    text-align: left;
}
.page_pic.top {
    text-align: right;
}
.page_pic.top img {
    padding-bottom: 5px;
}
.page_pic img {
    display: block;
}

p {
    margin: 0 0 10px;
    text-align: justify;
}

ul.subpage-list {
    list-style: none;
}
ul.subpage-list li {
    margin-bottom: 20px;;
    line-height: inherit;
}
.subpage-title {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
    color: #F70;
}
.subpage-subtitle {
    display: block;
    font-size: 1.0em;
    display: block;
}

.infoblock h1 {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
.infoblock h2 {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    margin-bottom: 5px;
    color: grey;
}
.infoblock img {
    float: left;
    margin-right: 10px;
    width: 125px;
    height: 125px;
}

.blog-top img {
    float: left;
    padding-right: 20px;
    max-width: 960px;
    max-height: 320px;
}
