.big-index-heading {
    margin-top: 1.0em;
}
.big-index-title {
    line-height: 1.15em;
}
.big-index img {
    float: left;
    margin-top:1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    max-width: 210px;
    max-height: 210px;
}
.big-index pre {
    display: inline;
    background: white;
    border: none;
    line-height: 250%
}
.big-index pre, .big-index code {
    display: none;
}

.big-index-item hr {
    margin-top: 2em;
}

.big-index-post h1, .big-index-post h2 {
    display: none;
}
.big-index-post {
    margin-top: 2em;
}
span.big-index-post {
    float:right;
    width:200px;
}
.big-index-post img {
    display: none;
}
.paging {
    margin-bottom: 1.4em;
}
