<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="icon" href="/images/linux-favicon.png" type="image/x-icon">
</head>

<body>

<div id="wrapper">
<header>
    <img src="/images/lug_penguin.gif" class="logo" />
    <h1>Linux Users Group</h1>
    <h2>Oregon State University</h2>
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/guides/">Guides</a></li>
    </ul>
</nav>

<section>
    {% block content %}
    {% endblock %}
</section>

<footer>
    A wild LUG appears! Last updated {{ site.datetime.strftime("%c") }}. This site is powered by <a href="https://github.com/mythmon/wok">wok</a>.
</footer>

</div>

</body>

</html>
