<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ site.title }} - {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-1.1.0.min.css"/> 
        <link rel="stylesheet" type="text/css" href="/stylesheets/sticky_footer.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/base.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/big_index.css"/>
        <link rel="icon" type="image/x-icon" href="/images/linux-favicon.png"/>
        <script type="text/javascript" src="/javascripts/jquery-1.6.4.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/javascripts/sliding-paginator-thing.js"></script>
                                                            
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26001055-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>

    <body>

    <div class="wrap">
        <div class="container">

            <div class="header">
                <div class="row">
                    <div class="span5 columns">
                        <div class="title">
                            <h2><a href="/">Linux Users Group</a></h2>
                            <h3><a href="http://oregonstate.edu" style="color:black;">Oregon State University</a></h3>
                        </div>
                    </div>
                    <div class="span2 columns">
                        <div class="logo">
                            <a href="/"><img src="/images/lug_penguin.gif"/></a>
                        </div>
                    </div>
                    <div class="span9 columns">
                        <div class="navigation">
                            {% for link in site.tags['navigation']|sort(attribute='navrank') %}
                                {% if page.url == link.url %}
                                    <a class="current_nav" href="{{ link.url }}">
                                {% else %}
                                    <a href="{{ link.url }}">
                                {% endif %}
                                    <span>{{ link.title }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                    <br/>

                </div>
            </div>
            <hr style="padding-top:10px;"/>

            <div class="headinggroup">
                {% block title %}
                {% endblock %}
            </div>
            <div class="main">
                <div class="base-image">
                    {% if page.image %}
                        <div class="page_pic {{ page.image.where }}" style="
                                {% if page.image.width %}max-width: {{page.image.width}};{% endif %}
                                {% if page.image.height %}max-height: {{page.image.height}};{% endif %}">
                            <img src="{{ page.image.url }}" />
                            {% if page.image.caption %}
                                <span>{{ page.image.caption }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>

   <div class="footer">
       <span>
            A wild LUG appears!<br/>
            Last updated {{ site.datetime.strftime("%c") }}<br/>
            This site is powered by <a href="https://github.com/mythmon/wok"><b>wok</b></a>.
       </span>
   </div>
</body>

</html>
