{% extends "base.html" %}

{% block content %}
    <div class="home">
        {{page.content}}
    </div>
    <div class="aside">
        <h2>Upcoming Events</h2>
        <ol>{% for event in site.categories['events'] %}
            {% if event.datetime > site.datetime %}
                <li class="event">
                    <h3>
                        <a href="{{ event.url }}">{{ event.title }}</a>
                    </h3>
                    <h4>{{ event.time }} on {{ event.date}}</h4>
                    {{ event.preview }}
                </li>
            {% endif %}
        {% endfor %}</ol>
    </div>
{% endblock %}
