{% extends "base.html" %}

{% block content %}
<h1>{{ page.title }}</h1>
{{ page.content }}

<ul class="subpage-list">
{% for subpage in page.subpages %}

<li>
    <a class="subpage-title" href="{{ subpage.url }}">{{ subpage.title }}</a>
    <span class="subpage-subtitle">
        by {% for author in subpage.authors %}
            {% if loop.last and not loop.first %}and {% endif %}
            {{ author.name }}{% if not loop.last %}, {% endif %}
        {% endfor %} on {{ subpage.date.strftime("%x") }}
    </span>
</li>

{% endfor %}

{% endblock %}
