{% extends "base.html" %}

{# Set defaults #}

{% set collection = page.subpages %}

{% if page.index and page.index.sort_key %}
    {% if page.index.reverse %}
        {% set collection = page.subpages|sort(attribute=page.index.sort_key) %}
    {% else %}
        {% set collection = page.subpages|sort(attribute=page.index.sort_key, reverse=True) %}
    {% endif %}
{% endif %}

{% block content %}
<h2>{{ page.title }}</h2>
{{ page.content }}

<ul class="subpage-list">
{% for subpage in collection %}

<li class="list">
    <a class="subpage-title" href="{{ subpage.url }}">{{ subpage.title }}</a>
    <span class="subpage-subtitle">
        {% set page = subpage %}
        {% include "metadata.html" %}
    </span>
</li>

{% endfor %}

{% endblock %}
