{# Assumption: There is a "with people-tag = X" tag wrapping this. #}
<div class="row">

  {% for column in site.tags[people_tag]|sort(attribute='rank')|slice(2) %}
    <div class="span8 columns">

      {% for page in column %}
        {% set person = page.person %}
        <div id="people">
          {% if person.image %}
            <img src="{{person.image}}" />
          {% endif %}

          <h1>{{ person.name }}</h1>

          {% if person.title or person.irc %}
          <h2>
            {% if person.title %}
              <span>{{ person.title }}</span>
            {% endif %}
            {% if person.irc %}
              <span> | {{ person.irc }} on irc</span>
            {% endif %}
            {% if person.site %}
              <span> | <a href="{{ person.site }}"> website</a></span>
            {% endif %}
          </h2>
          {% endif %}
          {{ page.content }}
        </div>
        {% if not loop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    </div>

  {% endfor %}
</div>
